@media screen and (min-width:781px) and (max-width:9999px) {
body {
	margin:0 ;
}
#wrapper {
	min-width:1200px;
}
.top_bg {
	height:1026px;
	background:url('../images/images_12/icar_bg.png') center top no-repeat;
	position:relative;
}
	.header_title {
		background:url('../images/images_12/icar_edm_01.png')center top no-repeat;
		height:800px;
	}
.c_bg {
	width:100%;
	height:1735px;
	background:url('../images/images_12/icar_bg2.png') center top no-repeat;
	position:relative;
}
#content {
	width:1100px;
	margin:0 auto;
	text-align:center;
}
ol {
	list-style:none;
	display:table;
	padding:0;
}
	.firework_bg {
		background:url('../images/images_12/icar_bg2-1.png') center top no-repeat;
	}
	.p_oil {
		text-align:center;
	}
	.p_elect{
		text-align:center;
		margin:80px 0;
		display:inline-block;
		
	}
	.p_elect li {
		display:table-cell;
	}
	.p_elect li:nth-child(1) {
		padding-right:20px;
	}
.p_2 {
	padding:190px 0 0 0;
}
	.dvr li {
		display:table-cell;
	}
p.tire_start{
	padding-top:50px;
}
	p.tire_start img {
		width:220px;
	}
	p.tire_start span {
		display:block;
		font-size:2rem;
		font-weight:bold;
	}
.p_tire {
	background-color:black;
	height:1750px;
	width:100%;
	position:relative;
	margin:0;
	padding-top:50px;
}
	.p_tire  p {
		margin:0;
		text-align:center;
	}
	
	.tire_area li {
		display:table-cell;
	}
	.tire_area li:hover {
		opacity: 0.7;
		transition: opacity 0.3s;
	}
#bottom1 {
	background: #E5211F url('../images/images_12/icar_bg3.png') center top no-repeat;
	width:100%;
	height:500px;
	}
	.car1_slogan {
		margin:0 auto;
		display:table;
		
	} 
	.service_tex {
		display:block;
		color:white;
		font-size:2rem;
		font-weight:bold;
		text-align:center;
		padding-top:280px;
	}
	.car1_slogan li {
		display:table-cell;
	}
	.notice {
		font-weight:800;
		color:#fff;

	}
}

@media screen and (max-width:780px) {	
	body {
		margin:0 ;
	}
	#wrapper {
		min-width:750px;
	}
	.header_title {
		background:url('../images/images_12/icar_edm_01_mb.png')center top no-repeat;
		height:800px;
		width:750px;
	}
	ol {
	list-style:none;
	display:table;
	padding:0;
	}
	.p_oil {
		text-align:center;
	}
	.p_elect {
		margin: 0 auto;
		padding-top:20px;
	}
	.c_bg {
		background:url('../images/images_12/icar_bg2_mb.png') center top no-repeat;
		height:2459px;
	}
	p.title_dvr{ /*DVR標題*/
		text-align:center;
		padding-top:58vw;
	}
	ol.dvr { /*2格為一列*/
		display:flex;
		flex-wrap:wrap;
		justify-content: space-around;
		overflow:hidden;
		box-sizing:border-box;
	}
	p.title_kit{ /*百貨類標題*/
		text-align:center;
	}
	.p_elect li:nth-child(2) {
		padding-top:15px;
	}
	.tire_start { /*tire select*/
		text-align:center;
		margin:0 auto;
	}
	.tire_start img { /*圖片大小*/
		width:150px;
	}
	.tire_start span {
		display:block;
		font-size:1.5rem;
		font-weight:bold;
		padding-bottom:10px;
	}

/*輪胎區*/
	.p_tire{
		background-color:#000;
	}
	.p_tire p {
		overflow:hidden;
		margin:0 auto;
	}
	.p_tire p img{
		max-width:750px;
	}
	ol.tire_area {
		display:flex;
		flex-wrap:wrap;
		justify-content: center;
		overflow:hidden;
		box-sizing:border-box;
		width:100%;
		margin: 0 auto;
		padding: 20px 0;
	}
	ol.tire_area li {
		margin:5px;
	}
/*bottom1*/
	#bottom1 {
		background:url('../images/images_12/icar_bg3_mb.png') center top no-repeat;
		margin:0 auto;
	}
	.car1_slogan {
		display:none;
	}
	.notice {
		font-size:1.1rem;
		color:#fff;
		display:block;
		text-align:center;
	}

}